@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="block2" style="width:660px">
    @RenderBody()
</div>

<div class="block2" style="float:right">
    <h4> Iletisim Numaralarimiz</h4>
    <ul>
        <li>
            348 953 47 54
        </li>
        <li>
            348 953 47 54
        </li>
        <li>
            348 953 47 54
        </li>

    </ul>

</div>
